// ------------------------------
// Open edX Certificates: Overrides

// About: Additional sass rules that must come at the end of the compilation for overriding purposes - either for temporary/specific developer styling needs or for known poorly scoped/written styling (aka shame CSS).

// #TEMP
// #DEVELOPERS
// #SHAME

// ------------------------------
// #TEMP
// ------------------------------

// ------------------------------
// #DEVELOPERS
// ------------------------------
.certificate .accomplishment-rendering .accomplishment-statement,
.certificate .accomplishment-rendering .accomplishment-statement-lead,
.certificate .accomplishment-rendering .accomplishment-recipient,
.certificate .accomplishment-rendering .accomplishment-course {
    font-family: inherit
}

.certificate .accomplishment-rendering .accomplishment-statement,
.certificate .accomplishment-rendering .accomplishment-signatories {
    padding: 0rem 3rem
}

.layout-accomplishment .accomplishment-rendering .accomplishment-course,
.layout-accomplishment .accomplishment-rendering .accomplishment-recipient,
.layout-accomplishment .accomplishment-rendering .accomplishment-type {
    color: rgba(4,81,123,1)
}

.layout-accomplishment .accomplishment-rendering .accomplishment-course {
    font-style: italic
}

.layout-accomplishment .accomplishment-orgs .wrapper-orgs {
    display: flex;
    justify-content: center
}

.list-signatories {
    display: flex;
    justify-content: center
}

@media (max-width: 768px) {
    .layout-accomplishment .accomplishment-signatories .signatory {
        flex: 0 0 25%;
        max-width: 25%
    }
}

// ------------------------------
// #SHAME
// ------------------------------